/* Contact.css */

.contact-form {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  .contact-details {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Arrange the contact details in a column */
  }
  
  .contact-image img {
    padding-top: 30px;
   width: 500px;
   height: 500px;
   border-radius: 0%;
  }
  
  .contact-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333; /* Darken the label text color */
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%; /* Make input fields full width */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Add a white background */
    font-size: 1rem; /* Set a standard font size */
    color: #333; /* Set text color */
  }
  
  .form-group textarea {
    height: 10rem;
    resize: vertical; /* Allow vertical resizing */
  }
  
  button[type="submit"] {
    background-color: red;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Set a standard font size */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 768px) {
    .contact-form {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .contact-details {
      width: 100%;
      padding: 10px;
    }
  
    .contact-image {
      display: none; /* Hide the image on mobile */
    }
  
    .contact-details h2 {
      font-size: 1.5rem;
    }
  
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
      font-size: 0.9rem;
    }
  
    button[type="submit"] {
      padding: 0.8rem 1.6rem;
      font-size: 1rem;
    }
  }